.burger-active {
  position: fixed;
  inset: 0;
  top: 90px;
  left: 0px;
  min-width: 100vw;
  z-index: 999;
  background: #131313;

  li {
    padding-left: 50px;
    color: transparent;
    text-decoration: none;
    position: relative;
  }
  a {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
    color: transparent;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #808080;
    transition: 0.5s ease;
    &:hover {
      color: aliceblue;
      transition: 1s ease;
    }
  }
}
@media (max-width: 821px) {
  .burger-active {
    li {
      padding-left: 0px;
    }
  }
}
