.main {
  position: relative;
  padding-top: 50px;

  &__slider {
    z-index: 3;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    height: 1033px;
    position: relative;
    border-radius: 60px 60px 0px 0px;
    transition: opacity 1s ease;

    &::before {
      content: "";
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(180deg, #131313 0%, rgba(19, 19, 19, 0) 100%);
      transform: rotate(-180deg);
      height: 389px;
      margin-top: 651px;
    }
  }

  .doge {
    background-size: cover;
    background-image: url(../../assets/image/dogeback.jpg);
    transition: 1s ease;
    background-repeat: no-repeat;

    &_down {
        background-size: cover;
      background-image: url(../../assets/image/downBack.jpg);
      transition: 1s ease;
      background-repeat: no-repeat;
    }

    &_up {
        background-size: cover;
      background-image: url(../../assets/image/upBack.jpg);
      transition: 1s ease;
      background-repeat: no-repeat;
    }
  }
}

@media (max-width: 821px) {
  .main {
    &__slider {
      padding: 0 50px;
    }
  }
}
@media (max-width: 414px) {
  .main {
    &__slider {
      flex-direction: column;
    }
  }
}
