.modal {
  position: fixed;
  inset: 0;
  top: 0;
  left: 0px;

  min-width: 100vw;
  z-index: 999;
  background-color: rgba(27, 27, 27, 0.8);

  &__wrap {
    transform: skew(-2deg);
    display: flex;
    justify-content: space-between;
    padding: 100px 100px;
  }
  &__image {
    width: 50%;
    background-image: url("../../assets/image/modalLuna.svg");
  }
  &__request {
    width: 50%;
    padding: 90px 70px;
    background: #131313;
  }
  &__top {
    transform: skew(2deg);
    display: flex;
    justify-content: space-between;
  }

  &__button {
    text-align: center;
    img {
      padding-top: 10px;
    }
  }
}
